@using CbgTaxi24.Blazor.Dtos
<div>
    <div>
        <table class="table">
            <thead class="thead-light">
                <tr class="list-heading">
                    <th>Name</th>
                    <th>Status</th>
                    <th>Service</th>
                    <th>Location</th>
                    <th>Kilometers away</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in closestDrivers!)
                {
                    <tr class="list_row">
                        <td>@item.Name</td>
                        <td class="@DriverService.GetDriverStatusCss(item.Status)">@item.Status.ToString()</td>
                        <td class="@DriverService.GetServiceTypeCss(item.ServiceType)">@item.ServiceType.ToString()</td>
                        <td>@item.LocationName</td>
                        <td>@item.Distance</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@code {
    [Parameter]
    public IEnumerable<DriversFromALocationDto> closestDrivers { get; set; } = default!;
}
