@page "/trips"
@using CbgTaxi24.Blazor.Components.Shared

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between mb-2">
            <div>
                <h3>Trips</h3>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <input autocomplete="off" name="Search" type="text" class="form-control f-sz-1-em" placeholder="Search..."
                       @bind="@SearchQuery" @bind:event="oninput">
            </div>
        </div>
        <div>
            <div class="list-table">
                <table class="table">
                    <thead class="thead-light">
                        <tr class="list-heading">
                            <th> TripId </th>
                            <th> Rider</th>
                            <th> Driver</th>
                            <th> From </th>
                            <th> To </th>
                            <th> Status </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (listEntities == null && _isProcessing)
                        {
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        }
                        else if (listEntities == null && !_isProcessing)
                        {
                            <h4>No data available</h4>
                        }
                        else
                        {
                            @foreach (var item in listEntities!)
                            {
                                <tr class="list_row">
                                    <td>@item.TripId</td>
                                    <td>@item.Rider.Name</td>
                                    <td>@item.Driver.Name</td>
                                    <td>@GetFromLocation(item.TripMetaData)</td>
                                    <td>@GetDestiantion(item.TripMetaData)</td>
                                    <td class="@GetTripStatusCss(item)">@item.Status</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div style="display:flex; justify-content:space-between">
            <div>
                <span>Count: @pageMetaData.TotalCount</span>
            </div>
            <Pagination Spread=3 MetaData="pageMetaData" SelectedPage="SelectedPage_Callback"></Pagination>
        </div>
    </div>
</div>